<div class="container">
    <div class="row">
        <form action='/profile/update/<%= @user.id %>' method='post'>
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type='text' name='first_name' class="form-control" value="<%= @user.first_name %>">
            </div>
            <div class="form-group">
                <label for="inputLastName">Last Name</label>
                <input type='text' name='last_name' class="form-control" value="<%= @user.last_name %>">
            </div>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type='text' name='username' class="form-control" value="<%= @user.username %>">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type='text' name='email' class="form-control" value="<%= @user.email %>">
            </div>
            <div class="form-group">
                <label for="inputBirthday">Birthday</label>
                <input type='date' name='birthday' class="form-control" value="<%= @user.birthday %>"><br>
            </div>
            <button name='update-info' type="submit" class="btn btn-primary">Update Info</button>
        </form>
    </div>
</div>