
<div class="container">
    <h1> Recent stories</h1><br>
    <% @posts.each do |post| %>
        <p>By <%= User.find(post.user_id).username %></p>
        <p class='title'><strong><%= post.title %></strong></p>
        <div class='post'>
            <p class='post-text'><%= post.post %> </p>
            <p class='posted'>Posted at <%= post.created_at %></p>
            <p class='updated'>Updated at <%= post.updated_at %></p><br>
        </div>
    <% end %>
</div>
